<!DOCTYPE html>
<html lang="es">
<head>

    {% if GOOGLE_ANALYTICS_ID %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
        </script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#343a40">

    {% block head %}{% endblock %}

</head>
<body>

    {% block body %}{% endblock %}

</body>
</html>
